<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/create-type}">Create type</a>
<th:block th:if=${message}>
    <p th:text="${message}"></p>
</th:block>
<table border="1">
    <tr><th>STT</th>
        <th>Tên</th>
        <th>Mô tả</th>
        <th>Sửa/Xóa</th>
    </tr>
    <th:block th:each="t:${type}">
        <tr>
            <td th:id></td>
            <td><a th:href="@{/view-type/__${t.id}__}" th:text="${t.name}"></a></td>
            <td th:text="${t.description}"></td>
            <td>
                <a th:href="@{/edit-type/__${t.id}__}">Sửa</a>/<a th:href="@{/delete-type/__${t.id}__}">Xóa</a>
            </td>

        </tr>
    </th:block>

</table>
</body>
</html>