<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}">Back to index</a>
<form th:href="@{/delete-note/{id}}" method="post" >

    <p th:type="hidden" name="id" th:text="${note.id}">
    <h4>Tên:</h4>
    <p th:text="${note.title}"></p>
    <br>
    <h4>Tiêu đề</h4>
    <br>
    <p th:text="${note.Type.name}"></p>
    <br>
    <h4>Nội dung</h4>
    <p th:text="${note.content}"></p>
    <br>
    <input type="submit" value="Delete">

</form>


</body>
</html>