<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:if=${message}>
    <p th:text="${message}"></p>
</th:block>
<table border="1">
    <tr>
        <th>STT</th>
        <th>Tiêu đề</th>
        <th>Nội dung</th>
        <th>Sửa/Xóa</th>
    </tr>
    <th:block th:each="n:${note}">
        <tr>
            <td th:id></td>
            <td th:text="${n.title}"></td>
            <td th:text="${n.content}"></td>
            <td>
                <a th:href="@{/edit/__${n.id}__}">Edit</a>/<a th:href="@{/delete/__${n.id}__}">Delete</a>
            </td>

        </tr>
    </th:block>
</table>
</body>
</html>